.header {
  position: sticky;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.header__container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
}

.header__left {
  display: flex;
}

.header__search {
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: gray;
  background-color: #eef3f8;
  margin-top: 5px;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
}

.header__right {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: flex-end;
}

.header__farRight {
  display: flex;
  border-left: 1px solid lightgray;
  padding-left: 20px;
  margin-left: -80px;
  align-items: center;
}
