.login {
  max-width: 550px;
  width: 100%;
  display: grid;
  place-items: center;
}

.login > img {
  height: 40px;
  object-fit: contain;
  margin: 50px auto -15px 0;
  padding-left: 50px;
}

.login__container {
  display: grid;
  margin: 30px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1px 5px 7px -5px rgb(0, 0, 0, 0.5);
}

.login__container > h2 {
  display: flex;
  align-self: start;
  text-align: left;
}

.login__container > small {
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 350px;
}
.login__container > form {
  display: flex;
  flex-direction: column;
}

.login__container > form > input {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #333333;
}

.login__container > form > button {
  width: 365px;
  height: 50px;
  font-size: large;
  color: #ffffff;
  background-color: #0073b1;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  outline-width: 0;
}

.login__register {
  color: #0177b7;
  cursor: pointer;
}

.login > p {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin-top: -25px;
}
